html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(125, 200, 100);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="file"]:hover,
button:hover {
    cursor: pointer;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 450px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3 {
    color: white;
}

.form-control-file {
    padding: 10px;
}

.input-group-prepend span {
    width: 50px;
    background-color: rgb(50, 200, 100);
    color: black;
    border:0 !important;
}

input:focus {
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.login_btn {
    color: black;
    background-color: rgb(50, 200, 100);
    width: 100px;
}

.btn:hover {
    background-color: rgb(55, 250, 0);
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
}

#flashes {
    padding: 20px;
    font-weight: 500;
    font-size: 21px;
}
