{% extends "base.html" %}

{% block title %}
    Files
{% endblock %}

{% block body %}
    {% if current_user.is_authenticated %}
        <div class="form-container" align="center">
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <label for="inputFile">Upload an .mp3 file:</label>
                <input type="file" name="inputFile" class="inputfile" multiple>
                <button type="submit" class="btn"><i class="fas fa-upload"></i></button><br>
            </form>
            <form method="POST" action="/download" enctype="multipart/form-data">
                <label for="inputFile">Download file:</label><br>
                <input type="text" name="fileName">
                <button type="submit" class="btn"><i class="fas fa-download"></i></button><br>
            </form>
            <form method="POST" action="/delete" enctype="multipart/form-data">
                <label for="inputFile">Delete file:</label><br>
                <input type="text" name="fileName">
                <button type="submit" class="btn"><i class="fa fa-trash"></i></button><br>
            </form>
        </div>
    {% else %}
        </div>
            <h2>Please Login:</h2>
            <form method="POST" action="/" enctype="multipart/form-data">
                <label for="name">Name:</label><br>
                <input type="text" name="name"><br>
                <label for="password">Password:</label><br>
                <input type="password" name="password"><br>
                <label for="name">Confirm Password:</label><br>
                <input type="password" name="confirmation"><br>
                <button type="submit">Submit</button><br><br>
            </form>
        </div>
    {% endif %}
{% endblock %}
