{% extends "base.html" %}

{% block title %} Mixer {% endblock %}

{% block body %}
<div class="d-flex justify-content-center h-100">
    <div class="card">
        <div class="card-header justify-content-center">
            <h3>Control Center</h3>
        </div>
        <div class="card-body">
            {% if current_user.is_authenticated %}
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <div class="input-group form-group">
                    <input type="file" name="inputFile" class="form-control-file" multiple>
                </div>
                <div class="form-group">
                    <input type="submit" value="Upload" class="btn float-right login_btn">
                </div>
            </form>

            <form method="POST" action="/download" enctype="multipart/form-data">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-download"></i></span>
                    </div>
                    <input type="text" name="fileName" class="form-control" placeholder="file to download">
                </div>
                <div class="form-group">
                    <input type="submit" value="Download" class="btn float-right login_btn">
                </div>
            </form>

            <form method="POST" action="/delete" enctype="multipart/form-data">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-trash"></i></span>
                    </div>
                    <input type="text" name="fileName" class="form-control" placeholder="file to delete">
                </div>
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn float-right login_btn">
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
