<!DOCTYPE html>
<html>
<head>
    <title>Upload File</title>
</head>
<body>
    {% with messages = get_flashed_messages(category_filter=["logged in"]) %}
        {% if messages %}
            {% for message in messages %}
                <h4>{{ message }}<h4>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if current_user.is_authenticated %}
    <div>
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <label for="inputFile">File input</label>
            <input type="file" name="inputFile" multiple><br>
            <button type="submit">Submit</button><br><br>
        </form>
        <form method="POST" action="/download" enctype="multipart/form-data">
            <label for="inputFile">Download file</label>
            <input type="text" name="fileName"><br>
            <button type="submit">Submit</button><br>
        </form>
    </div>
    {% else %}
    </div>
        <h4>Please Login:</h4>
        <form method="POST" action="/" enctype="multipart/form-data">
            <label for="name">Name</label>
            <input type="text" name="name"><br>
            <label for="password">Password</label>
            <input type="password" name="password"><br>
            <label for="name">Confirm</label>
            <input type="password" name="confirmation"><br>
            <button type="submit">Submit</button><br><br>
        </form>
    </div>
    {% endif %}
    {% with messages = get_flashed_messages(category_filter=["error", "success"]) %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
