<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <!--Bootsrap 4 CDN-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!--Fontawesome CDN-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        <!--Custom styles-->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <!--Icon-->
        <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    </head>

    <body>
        <div class="container">
            <div class="d-flex justify-content-center" id="flashes">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                            {% for message in messages %}
                                <div class="p-2">{{ message }}</div>
                            {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
